<!DOCTYPE html>
<head>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}App base view resource{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">mode::prod</a></li>
                    <li><a href="/app_dev.php">mode::dev</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>